/* You can add global styles to this file, and also import other style files */
html,
body {
  height: 100%;
}
.form-login {
  padding: 25px;
  border-radius: 20px;
  border: 2px solid #eeeeee;
  max-width: 370px;
  min-width: 370px;
}
.input-addon {
  position: relative;
}
.input-addon .icon {
  position: absolute;
  padding: 8px;
  pointer-events: none;
}
.icon {
  color: #8a8a8a;
}
.input-addon input {
  padding-left: 35px;
}
.input-addon input {
  padding-right: 30px;
}

.social-media {
  color: #8a8a8a;
}
.social-media img {
  margin: 10px;
}
.go-login a {
  color: rgb(18, 205, 252);
  text-decoration: none !important;
}
.go-login a:hover {
  color: rgb(21, 177, 216);
}

/* Estilos de perfil */
.name {
  margin-right: 34px;
}

.drop-list {
  padding: 15px;
  border-radius: 14px !important;
}
.lists-items {
  padding: 14px;
}

.icon-p {
  margin-right: 10px;
}
.list {
  color: #8a8a8a;
  border-radius: 10px;
  position: relative;
}
.text {
  position: relative;
  bottom: 7px;
}
.lists-items a:last-child {
  color: red;
}

.content {
  margin: 0 !important;
  height: auto;
}

.edit-btn {
  height: 37px;
  width: 95px;
  border-radius: 13px !important;
}
.back {
  text-decoration: none;
}
.back:hover {
  text-decoration: none;
}
.avatar {
  width: 40px;
  border-radius: 10px;
}
.avatar-perfil {
 
  width: 90px;
  height: 90px;
  z-index: 1;
}
.camera {
  position: absolute;
  z-index: 3;
  left: 50px;
  top: 35%;
  color: white;
  height: 20px;
}
.change{
  color: rgb(130,130,130);
  text-decoration: none;
  font-weight: 500;
}

.change:hover{
  cursor: pointer;
  text-decoration: none;
  
  
}

.detail-profile {
  margin-left: 34px;
  float: left;
  width: 30%;
}
.form {
  padding: 30px;
  border: 1px solid rgb(224, 224, 224);
  border-radius: 15px;
}
.form input,
.form textarea {
  border-radius: 8px;
}
