<a (click)="editar()" routerLink="/perfil" class="back"
  ><span class="material-icons icon-p"> keyboard_arrow_left </span>
  <span class="text">Back</span>
</a>
<form class="form mt-3" #editForm="ngForm" (ngSubmit)="submit()">
  <div class="info ml-3">
    <h4>Change Info</h4>
    <p>Changes will be reflected to every services</p>
  </div>
  <div class="form-group col-md-6">
    <img
      src="./assets/imgs/default.png"
      alt="avatar"
      class="img-fluid avatar-perfil mr-3"
      *ngIf="identity.image === null || identity.image === ''; else imgdefault"
    />
    <img src="./assets/imgs/camera1.png"  class="img-fluid camera " alt="">
    <ng-template #imgdefault>
      <img
        src="{{ url }}/avatar/{{ identity.image }}"
        alt="avatar"
        class="img-fluid avatar-perfil mr-3"
        *ngIf="identity.name != null; else imgdefault"
      />
    </ng-template>

    <input
      type="file"
      (change)="uploadImage($event)"
      #file
      id="file"
      name="file"
      style="display: none"
    />

    <a (click)="file.click()" class="change ml-4" >CHANGE PHOTO </a>
  </div>
  <div class="form-group col-md-6">
    <label for="name">Name</label>
    <input
      name="name"
      class="form-control"
      type="text"
      placeholder="Enter your name.."
      #name="ngModel"
      [(ngModel)]="user.name"
      required
    />
  </div>
  <div class="form-group col-md-6">
    <label for="bio">Bio</label>
    <textarea
      name="bio"
      class="form-control"
      placeholder="Enter your bio.."
      #bio="ngModel"
      [(ngModel)]="user.bio"
    ></textarea>
  </div>
  <div class="form-group col-md-6">
    <label for="phone">Phone</label>
    <input
      name="phone"
      class="form-control"
      type="text"
      placeholder="Enter your phone.."
      #phone="ngModel"
      [(ngModel)]="user.phone"
      required
    />
  </div>
  <div class="form-group col-md-6">
    <label for="email">Email</label>
    <input
      name="email"
      class="form-control"
      type="text"
      placeholder="Enter your email.."
      #email="ngModel"
      [(ngModel)]="user.email"
      required
    />
  </div>
  <div class="form-group col-md-6">
    <label for="password">Password</label>
    <input
      name="password"
      class="form-control"
      type="password"
      placeholder="Enter your password.."
      #pass="ngModel"
      [(ngModel)]="user.password"
      required
    />
  </div>
  <input
    type="submit"
    class="btn btn-primary ml-3"
    value="Save"
    [disabled]="editForm.invalid"
  />
</form>
